---
import { Icon } from 'astro-icon/components'
import { profileConfig } from '../../config'
import { url } from '../../utils/url-utils'
import ImageWrapper from '../misc/ImageWrapper.astro'

const config = profileConfig
---

<div class="card-base p-3">
  <a
    aria-label="Go to About Page"
    href={url('/about/')}
    class="group relative mx-auto mt-1 mb-3 block max-w-[12rem] overflow-hidden rounded-xl active:scale-95 lg:mx-0 lg:mt-0 lg:max-w-none"
  >
    <div
      class="pointer-events-none absolute z-50 flex h-full w-full items-center justify-center transition group-hover:bg-black/30 group-active:bg-black/50"
    >
      <Icon
        name="fa6-regular:address-card"
        class="scale-90 text-5xl text-white opacity-0 transition group-hover:scale-100 group-hover:opacity-100"
      />
    </div>
    <ImageWrapper
      src={config.avatar || ''}
      alt="Profile Image of the Author"
      class="mx-auto h-full lg:mt-0 lg:w-full"
    />
  </a>
  <div class="px-2">
    <div class="mb-1 text-center text-xl font-bold transition dark:text-neutral-50">
      {config.name}
    </div>
    <div class="mx-auto mb-2 h-1 w-5 rounded-full bg-[var(--primary)] transition"></div>
    <div class="mb-2.5 text-center text-neutral-400 transition">{config.bio}</div>
    <div class="mb-1 flex flex-wrap justify-center gap-2">
      {
        config.links.length > 1 &&
          config.links.map((item) => (
            <a
              rel="me"
              aria-label={item.name}
              href={item.url}
              target="_blank"
              class="btn-regular h-10 w-10 rounded-lg active:scale-90"
            >
              <Icon name={item.icon} class="text-[1.5rem]" />
            </a>
          ))
      }
      {
        config.links.length == 1 && (
          <a
            rel="me"
            aria-label={config.links[0].name}
            href={config.links[0].url}
            target="_blank"
            class="btn-regular h-10 gap-2 rounded-lg px-3 font-bold active:scale-95"
          >
            <Icon name={config.links[0].icon} class="text-[1.5rem]" />
            {config.links[0].name}
          </a>
        )
      }
    </div>
  </div>
</div>
