---
import { Icon } from 'astro-icon/components'
import { licenseConfig, profileConfig } from '../../config'
import I18nKey from '../../i18n/i18nKey'
import { i18n } from '../../i18n/translation'
import { formatDateToYYYYMMDD } from '../../utils/date-utils'

interface Props {
  title: string
  slug: string
  pubDate: Date
  class: string
}

const { title, pubDate } = Astro.props
const className = Astro.props.class
const profileConf = profileConfig
const licenseConf = licenseConfig
const postUrl = decodeURIComponent(Astro.url.toString())
---

<div
  class={`relative transition overflow-hidden bg-[var(--license-block-bg)] py-5 px-6 ${className}`}
>
  <div class="font-bold text-black/75 transition dark:text-white/75">
    {title}
  </div>
  <a href={postUrl} class="link text-[var(--primary)]">
    {postUrl}
  </a>
  <div class="mt-2 flex gap-6">
    <div>
      <div class="text-sm text-black/30 transition dark:text-white/30">{i18n(I18nKey.author)}</div>
      <div class="line-clamp-2 text-black/75 transition dark:text-white/75">{profileConf.name}</div>
    </div>
    <div>
      <div class="text-sm text-black/30 transition dark:text-white/30">
        {i18n(I18nKey.publishedAt)}
      </div>
      <div class="line-clamp-2 text-black/75 transition dark:text-white/75">
        {formatDateToYYYYMMDD(pubDate)}
      </div>
    </div>
    <div>
      <div class="text-sm text-black/30 transition dark:text-white/30">{i18n(I18nKey.license)}</div>
      <a href={licenseConf.url} target="_blank" class="link line-clamp-2 text-[var(--primary)]"
        >{licenseConf.name}</a
      >
    </div>
  </div>
  <Icon
    name="fa6-brands:creative-commons"
    class="pointer-events-none absolute right-6 top-1/2 -translate-y-1/2 text-[15rem] text-black/5 transition dark:text-white/5"
  />
</div>
