---
import { getEntry, render } from 'astro:content'
import Markdown from '@components/misc/Markdown.astro'
import I18nKey from '../i18n/i18nKey'
import { i18n } from '../i18n/translation'
import MainGridLayout from '../layouts/MainGridLayout.astro'
import friendsItems from '../_data/friends.json'

const friendsPage = await getEntry('spec', 'friends')

if (!friendsPage) {
  throw new Error('Friends page content not found')
}

const { Content } = await render(friendsPage)

const items = friendsItems
---

<MainGridLayout title={i18n(I18nKey.friends)} description={i18n(I18nKey.friends)}>
  <div class="relative mb-4 flex min-h-32 w-full overflow-hidden rounded-[var(--radius-large)]">
    <div class="card-base relative z-10 w-full px-9 py-6">
      <div class="my-4 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-2">
        {
          items.map((item) => (
            <div class="flex h-28 flex-nowrap items-stretch gap-4 rounded-[var(--radius-large)]">
              <div class="h-28 w-28 flex-shrink-0 overflow-hidden rounded-lg bg-zinc-200 dark:bg-zinc-900">
                <img src={item.siteIcon} alt={item.siteTitle} class="h-full w-full object-cover" />
              </div>
              <div class="w-full grow">
                <div class="mb-1 text-lg font-bold text-neutral-900 transition dark:text-neutral-100">
                  {item.siteTitle}
                </div>
                <div class="text-50 text-sm font-medium">{item.siteDesc}</div>
              </div>
              <a
                href={item.siteUrl}
                target="_blank"
                rel="noopener noreferrer"
                class="btn-regular flex w-[3.25rem] rounded-lg bg-[var(--enter-btn-bg)] hover:bg-[var(--enter-btn-bg-hover)] active:scale-95 active:bg-[var(--enter-btn-bg-active)]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--material-symbols mx-auto text-4xl text-[var(--primary)] transition"
                  width="1em"
                  height="1em"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="M12.6 12L8.7 8.1q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.6 4.6q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.6 4.6q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7z"
                  />
                </svg>
              </a>
            </div>
          ))
        }
      </div>

      <Markdown class="mt-2">
        <Content />
      </Markdown>
    </div>
  </div>
</MainGridLayout>
