---
import type { CollectionEntry } from 'astro:content'
import path from 'node:path'
import { Icon } from 'astro-icon/components'
import I18nKey from '../i18n/i18nKey'
import { i18n } from '../i18n/translation'
import { getDir } from '../utils/url-utils'
import ImageWrapper from './misc/ImageWrapper.astro'
import PostMetadata from './PostMeta.astro'

interface Props {
  class?: string
  entry: CollectionEntry<'posts'>
  title: string
  url: string
  published: Date
  updated?: Date
  tags: string[]
  category: string | null
  image: string
  description: string
  draft: boolean
  style: string
}
const { entry, title, url, published, updated, tags, category, image, description, style } =
  Astro.props
const className = Astro.props.class

const hasCover = image !== undefined && image !== null && image !== ''

const coverWidth = '28%'

const { remarkPluginFrontmatter } = await entry.render()
---

<div
  class:list={[
    'card-base relative flex w-full flex-col-reverse overflow-hidden rounded-[var(--radius-large)] md:flex-col',
    className,
  ]}
  style={style}
>
  <div
    class:list={[
      'relative pb-6 pl-6 pr-6 pt-6 md:pl-9 md:pr-2 md:pt-7',
      {
        'w-full md:w-[calc(100%_-_52px_-_12px)]': !hasCover,
        'w-full md:w-[calc(100%_-_var(--coverWidth)_-_12px)]': hasCover,
      },
    ]}
  >
    <a
      href={url}
      class="text-90 group mb-3 block w-full text-3xl font-bold transition before:absolute before:left-[18px] before:top-[35px] before:hidden before:h-5 before:w-1 before:rounded-md before:bg-[var(--primary)] hover:text-[var(--primary)] active:text-[var(--title-active)] dark:hover:text-[var(--primary)] dark:active:text-[var(--title-active)] md:before:block"
    >
      {title}
      <Icon
        class="absolute inline translate-y-0.5 text-[2rem] text-[var(--primary)] md:hidden"
        name="material-symbols:chevron-right-rounded"
      />
      <Icon
        class="absolute hidden -translate-x-1 translate-y-0.5 text-[2rem] text-[var(--primary)] opacity-0 transition group-hover:translate-x-0 group-hover:opacity-100 md:inline"
        name="material-symbols:chevron-right-rounded"
      />
    </a>

    <!-- metadata -->
    <PostMetadata
      published={published}
      updated={updated}
      tags={tags}
      category={category}
      hideTagsForMobile={true}
      hideUpdateDate={true}
      class="mb-4"
    />

    <!-- description -->
    <div
      class:list={[
        'text-75 mb-3.5 pr-4 transition',
        { 'line-clamp-2 md:line-clamp-1': !description },
      ]}
    >
      {description || remarkPluginFrontmatter.excerpt}
    </div>

    <!-- word count and read time  -->
    <div class="flex gap-4 text-sm text-black/30 transition dark:text-white/30">
      <div>
        {remarkPluginFrontmatter.words}
        {' ' + i18n(remarkPluginFrontmatter.words === 1 ? I18nKey.wordCount : I18nKey.wordsCount)}
      </div>
      <div>|</div>
      <div>
        {remarkPluginFrontmatter.minutes}
        {
          ' ' +
            i18n(remarkPluginFrontmatter.minutes === 1 ? I18nKey.minuteCount : I18nKey.minutesCount)
        }
      </div>
    </div>
  </div>

  {
    hasCover && (
      <a
        href={url}
        aria-label={title}
        class:list={[
          'group',
          'mx-4 -mb-2 mt-4 max-h-[20vh] md:mx-0 md:mb-0 md:mt-0 md:max-h-none',
          'relative overflow-hidden rounded-xl active:scale-95 md:absolute md:bottom-3 md:right-3 md:top-3 md:w-[var(--coverWidth)]',
        ]}
      >
        <div class="pointer-events-none absolute z-10 h-full w-full transition group-hover:bg-black/30 group-active:bg-black/50" />
        <div class="pointer-events-none absolute z-20 flex h-full w-full items-center justify-center">
          <Icon
            name="material-symbols:chevron-right-rounded"
            class="scale-50 text-5xl text-white opacity-0 transition group-hover:scale-100 group-hover:opacity-100"
          />
        </div>
        <ImageWrapper
          src={image}
          basePath={path.join('content/posts/', getDir(entry.id))}
          alt="Cover Image of the Post"
          class="h-full w-full"
        />
      </a>
    )
  }

  {
    !hasCover && (
      <a
        href={url}
        aria-label={title}
        class="btn-regular absolute bottom-3 right-3 top-3 !hidden w-[3.25rem] rounded-xl bg-[var(--enter-btn-bg)] hover:bg-[var(--enter-btn-bg-hover)] active:scale-95 active:bg-[var(--enter-btn-bg-active)] md:!flex"
      >
        <Icon
          name="material-symbols:chevron-right-rounded"
          class="mx-auto text-4xl text-[var(--primary)] transition"
        />
      </a>
    )
  }
</div>
<div
  class="mx-6 border-t-[1px] border-dashed border-black/10 transition last:border-t-0 dark:border-white/[0.15] md:hidden"
>
</div>

<style define:vars={{ coverWidth }}></style>
