---
import BackToTop from '@components/control/BackToTop.astro'
import Footer from '@components/Footer.astro'
import Navbar from '@components/Navbar.astro'
import SideBar from '@components/widget/SideBar.astro'
import type { MarkdownHeading } from 'astro'
import { Icon } from 'astro-icon/components'
import ImageWrapper from '../components/misc/ImageWrapper.astro'
import TOC from '../components/widget/TOC.astro'
import { siteConfig } from '../config'
import {
  BANNER_HEIGHT,
  BANNER_HEIGHT_EXTEND,
  MAIN_PANEL_OVERLAPS_BANNER_HEIGHT,
} from '../constants/constants'
import Layout from './Layout.astro'

interface Props {
  title?: string
  banner?: string
  description?: string
  lang?: string
  setOGTypeArticle?: boolean
  headings?: MarkdownHeading[]
}

const { title, banner, description, lang, setOGTypeArticle, headings = [] } = Astro.props
const hasBannerCredit = siteConfig.banner.enable && siteConfig.banner.credit.enable
const hasBannerLink = !!siteConfig.banner.credit.url

const mainPanelTop = siteConfig.banner.enable
  ? `calc(${BANNER_HEIGHT}vh - ${MAIN_PANEL_OVERLAPS_BANNER_HEIGHT}rem)`
  : '5.5rem'
---

<Layout
  title={title}
  banner={banner}
  description={description}
  lang={lang}
  setOGTypeArticle={setOGTypeArticle}
>
  <!-- Navbar -->
  <slot slot="head" name="head" />
  <div
    id="top-row"
    class="pointer-events-none relative z-50 mx-auto max-w-[var(--page-width)] px-0 transition-all duration-700 md:px-4"
    class:list={['']}
  >
    <div id="navbar-wrapper" class="pointer-events-auto sticky top-0 transition-all">
      <Navbar />
    </div>
  </div>

  <!-- Banner -->
  {
    siteConfig.banner.enable && (
      <div
        id="banner-wrapper"
        class={`absolute z-10 w-full overflow-hidden transition duration-700`}
        style={`top: -${BANNER_HEIGHT_EXTEND}vh`}
      >
        <ImageWrapper
          id="banner"
          alt="Banner image of the blog"
          class:list={['h-full scale-105 object-cover opacity-0 transition duration-700']}
          src={siteConfig.banner.src}
          position={siteConfig.banner.position}
        />
      </div>
    )
  }

  <!-- Main content -->
  <div class="pointer-events-none absolute z-30 w-full" style={`top: ${mainPanelTop}`}>
    <!-- The pointer-events-none here prevent blocking the click event of the TOC -->
    <div class="pointer-events-auto relative mx-auto max-w-[var(--page-width)]">
      <div
        id="main-grid"
        class="left-0 right-0 mx-auto grid w-full grid-cols-[17.5rem_auto] grid-rows-[auto_1fr_auto] gap-4 px-0 transition duration-700 md:px-4 lg:grid-rows-[auto]"
      >
        <!-- Banner image credit -->
        {
          hasBannerCredit && (
            <a
              href={siteConfig.banner.credit.url}
              id="banner-credit"
              target="_blank"
              rel="noopener"
              aria-label="Visit image source"
              class:list={[
                'onload-animation group absolute flex items-center justify-center rounded-full transition-all ' +
                  '-top-[3.25rem] right-4 h-9 bg-black/60 px-3 hover:bg-black/70',
                { 'hover:pr-9 active:bg-black/80': hasBannerLink },
              ]}
            >
              <Icon
                class="mr-1 text-[1.25rem] text-white/75"
                name="material-symbols:copyright-outline-rounded"
              />
              <div class="text-xs text-white/75">{siteConfig.banner.credit.text}</div>
              <Icon
                class:list={[
                  'absolute right-4 text-[0.75rem] text-[oklch(0.75_0.14_var(--hue))] opacity-0 transition',
                  { 'group-hover:opacity-100': hasBannerLink },
                ]}
                name="fa6-solid:arrow-up-right-from-square"
              />
            </a>
          )
        }

        <SideBar
          class="onload-animation col-span-2 row-start-2 row-end-3 mb-4 lg:col-span-1 lg:row-start-1 lg:row-end-2 lg:max-w-[17.5rem]"
          headings={headings}
        />

        <main
          id="swup-container"
          class="transition-swup-fade col-span-2 overflow-hidden lg:col-span-1"
        >
          <div id="content-wrapper" class="onload-animation">
            <!-- the overflow-hidden here prevent long text break the layout-->
            <!-- make id different from windows.swup global property -->
            <slot />
            <div class="footer onload-animation col-span-2 hidden lg:block">
              <Footer />
            </div>
          </div>
        </main>

        <div class="footer onload-animation col-span-2 block lg:hidden">
          <Footer />
        </div>
      </div>

      <BackToTop />
    </div>
  </div>

  <!-- The things that should be under the banner, only the TOC for now -->
  <div class="absolute z-0 hidden w-full 2xl:block">
    <div class="relative mx-auto max-w-[var(--page-width)]">
      <!-- TOC component -->
      {
        siteConfig.toc.enable && (
          <div
            id="toc-wrapper"
            class:list={[
              'absolute -right-[var(--toc-width)] top-0 hidden w-[var(--toc-width)] items-center transition lg:block',
              { 'toc-hide': siteConfig.banner.enable },
            ]}
          >
            <div
              id="toc-inner-wrapper"
              class="hide-scrollbar fixed top-14 h-[calc(100vh_-_20rem)] w-[var(--toc-width)] overflow-x-hidden overflow-y-scroll"
            >
              <div id="toc" class="transition-swup-fade h-full w-full">
                <div class="h-8 w-full" />
                <TOC headings={headings} />
                <div class="h-8 w-full" />
              </div>
            </div>
          </div>
        )
      }

      <!-- #toc needs to exist for Swup to work normally -->
      {!siteConfig.toc.enable && <div id="toc" />}
    </div>
  </div>
</Layout>
